.span{
    font-weight: 800;
    color: rebeccapurple;
}
.user_learning_item{
    /* border: 2px solid black; */
    margin-inline: 2px;
}
hr{
    opacity: 0.99;
}
.user_learning_item_title{
    color: #1776D1;
    font-weight: bolder;
}
.user_learning_item_title_holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delete_icon{
color: #1776D1;
}
.user_learning_item_description{
    font-weight: 300;
    font-size: small;
    margin-left: 2%;
}
